* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #042969;
    --secondary: #ffffff;
    --tertiary: #e7e7e9;
    --option: #b726ce;
}

body {
    background-color: var(--tertiary);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

header h2 {
    padding: 30px 50px 30px 50px;
    margin-bottom: 60px;
    font-weight: bolder;
    font-size: 2vw;
    color: var(--primary);
}

header h2 a{
    text-decoration: none;
}

header h2 a:hover {
    color: #4ab895;
}

.quiz {
    margin: 0 90px 0 90px;
}
#instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#instructions h1 {
    display: flex;
    text-align: center;
    font-size: 3.5vw;
    font-weight: bolder;
    margin-bottom: 30px;
    color: var(--primary);
}

#instructions p {
    display: flex;
    font-size: 1.5vw;
    text-align: center;
    padding: 20px 0 30px 0;
    line-height: 1.5;
}

.btn {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 20px;
    border-style: none;
    padding: 30px;
    font-size: 1.5vw;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 51, 125, 0.5);
    transform: translateY(-0.1rem);
    transition: 0.1s;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questions div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: auto;
}

.questions h2 {
    display: flex;
    justify-content: flex-start;
    font-size: 3vw;
    margin: 30px 0 50px 0;
}

.questions ul li{
    list-style: none;
}

.option {
    border: none;
    outline: none;
    width: 30%;
    border-radius: 12px;
    padding: 5px 15px;
    margin-bottom: 10px;
    font-size: 2vw;
    line-height: 1.5;
    background-color: var(--option);
    color: var(--secondary);
}

.option:hover {
    cursor: pointer;
    background-color: #f182f7;
    transition: 0.1s;
}

.questions {
    display: none;
}

hr {
    border: 1px solid #a7a7a7;
    margin: 30px 0 10px 0;
}

.answer h3 {
    font-size: 2vw;
    font-style: italic;
    color: #a7a7a7;
}

.scores {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.scores input {
    margin: auto;
    width: 30%;
    margin-bottom: 15px;
}

.scores h2 {
    font-size: 2.5vw;
    margin: 30px 0 30px 0;
}

.scores ul {
    list-style: none;
    text-align: center;
}

.score ul li {
    font-size: 2vw;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input {
    outline: none;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 2vw;
    border-radius: 12px;
}

.score-btn {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 20px;
    border-style: none;
    padding: 8px;
    font-size: 1.4vw;
    outline: none;
}

.score-btn:hover {
    cursor: pointer;
    background-color: #3150b3;
    transition: 0.1s;
}

.score-submit {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.highscore-container {
    display: flex;
    flex-direction: column;
}

.highscores {
    display: none;
    justify-content: center;
    text-align: center;

}

.highscores h2 {
    font-size: 2.5vw;
    margin: 30px 0 30px 0;
}

.scorelist ul {
    margin-bottom: 30px;
    list-style: none;
}

.scorelist ul li {
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 1.5;
}

.scorelist ul  li:nth-child(odd) {
    background-color: #307cee;
}
.scorelist ul  li:nth-child(even) {
    background-color: #9ec2f7;
}